<h3>Add A Student Account</h3>
<%= form_for(@student, :url => create_student_path(), :method => :post) do |f| %>
<% if @student.errors.any? %>
<%= pluralize(@student.errors.count, "error") %><br />
<% @student.errors.full_messages.each do |msg| %>
<%= msg %><br />

<% end %>
<% end %>
<div class="field">
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :"Registration Number" %>
<%= f.text_field :register_no %>
</div>
<div class="action">
<%= f.submit :Add %>
</div>
<% end %>
