<h3>Create A Default Password For Students</h3>

<%= form_for(@default_password, url: create_default_password_path, method: "post") do |f| %>
<% if @default_password.errors.any?%>
<% @default_password.errors.full_messages.each do |msg|%>
<%= msg %><br />
<% end %>
<% end %>
<%= f.label :"Set default password" %>
<%= f.text_field :default_password %><br />
<%= f.submit :Create %>

<% end %>

