<div class=""></div>
<ul class="nav">
  <% if college_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_college_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_college_session_path %>
    </li>
  <% end %>
  <% if college_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_college_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_college_registration_path %>
    </li>
  <% end %>
</ul>

<div class="row" >
  <div class="span12"><div id="admin_nav">
    <div id="admin_nav_header">header </div>
    <div class="row" id="admin_nav_body">
       <div class="span3"></div>
       <div class="span1 big_button"><%=link_to "", add_student_path,:id=>"add_student"%></div>
       <div class="span1 big_button"><%= link_to "", new_default_password_path, :id=>"add_def_pwd" %></div>
       <div class="span1 big_button"><%= link_to "", new_import_path, :id=>"add_csv_upload" %></div>
       <div class="span1 big_button"><%= link_to "", new_subscription_path, :id=>"add_subscription" %></div>
       <div class="span4"></div>

       </div> 
  </div>
</div>
