<!DOCTYPE html>
<html>
<head>
  <title>CvBuilder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= yield :js_initialization %> <%# Rails %>
    <%#= yield_content :js_initialization %> <%# Padrino %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="container" class="container">
      <header>
        
        <%= render 'layouts/messages' %>
      </header>
      <div id="main" role="main">
      	<%= render 'layouts/college_navigation' %>
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
</body>
</html>
